
<script type="text/javascript" src="js/MainDiv.js"> </script>

<div id="MainDisplayDiv">
  <iframe id="MainDisplayFrame" allowfullscreen="allowfullscreen" src="https://www.youtube.com" onload="changeTitle();" ></iframe>
</div>
