
<script type="text/javascript" src="js/SidePanel.js"></script>

<div id="SideStuff" style="text-align: center">
  <h3>Pages you Care about</h3>
  <span class="button bookmark" src-link="https://tw.tong.icu">Tong World</span>
  <br />
  <br />
</div>
