

#SidePanel{
  border: 10px solid #00F5FF;
  width : 15%;
  float : left;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 25%;
  overflow: auto;
}

#SavePage{
  border: 5px solid #FFA500;
  width : calc(15% + 10px);
  float : left;
  position:absolute;
  top: 75%;
  left: 0;
  bottom: 0;
  overflow: auto;
  text-align: center;
}

#SaveButton{
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 18px - 18px - 9px);
}


#MainDiv{
  border: 20px solid #ff00f5;
  float: none;
  left: calc(15% + 20px);
  margin-top: 0;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  text-align: center;
}

#MainDisplayFrame{
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
  height: 100%;
  border: 0px;
  overflow: hidden;
  /* display:none; */
}

.button{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #102A45;
  padding: 6px 18px 6px 18px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.button:active{
  background-color: #000000;
  color: #00cdcd;
}
