<div class="block1">
    <form id="app-login" action="process">
        <h1>Try gpt2, made this in 5 min, dont complain about problems</h1>
        <textarea rows="5" cols="5" id="seed"></textarea>
        <input type="number" id="length"/>
    </form>


</div>